#landing{
    /* background-image: url(./assets/bakground/bglanding.png); */
    /* background-size: cover; */
}

#publicity{
    
background: rgb(22,85,164);
background: linear-gradient(132deg, rgba(22,85,164,1) 25%, rgba(35,159,216,1) 70%, rgba(74,176,196,1) 100%);
}


html {
    scroll-behavior: smooth;
  }


#testimonials{
    background-image: url(./assets/bakground/Testimonials.png);
    background-size: cover;
}